
footer {
  min-width: 1034px;
  padding: 55px 0 25px;
  background: #313131;
  text-align: center;
}

footer .title {
  margin-bottom: 15px;
  font-family: "GothamProMedium", sans-serif;
  font-size: 24px;
  color: #fff;
}

footer .subtitle {
  position: relative;
  margin-bottom: 36px;
  font-family: "GothamProLight", sans-serif;
  font-size: 16px;
  color: #868484;
}

footer .subtitle:after {
  position: absolute;
  bottom: -18px;
  left: 50%;
  margin-left: -5px;
  display: block;
  width: 10px;
  height: 6px;
  content: '';
  background: url("../img/arrow_down_grey.png") no-repeat;
}

footer .call {
  display: inline-block;
  margin-bottom: 37px;
  width: 160px;
  border: 1px solid #00aeef;
  border-radius: 25px;
  padding: 14px 28px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-decoration: none;
  color: #00aeef;
  background: transparent;
  transition: all .3s ease;
}

footer .call:hover {
  border: 1px solid #00aeef;
  color: #fff;
  background: #00aeef;
  transform: scale(1.03);
}

footer .wrap {
  margin: 0 auto;
  width: 660px;
  border-top: 1px solid #413e3e;
  padding: 25px 0 10px;
  line-height: 14px;
  font-size: 10px;
  color: #737070;
}

footer .wrap div:first-child {
  margin-bottom: 10px;
}

footer .wrap a {
  margin: 0 30px;
  font-size: 10px;
  color: #737070;
}






@mixin media_768_footer-1 {
  
footer{
  min-width: 768px;
}

.container {
  width: 758px;
}

}


@mixin media_480_footer-1 {
  .container {
  width: 432px;
}


/*Wide blocks*/

section,
footer {
  width:100%;
  min-width:480px;
}



  /*Footer*/

  footer .subtitle:after {
    // left: 374px;
  }


  /*Pop-ups*/

  #mobile_menu .item a{
    font-size: 16px;
    line-height: 30px;
  }

  #mobile_menu .popup-close {
    top: 21px;
    left: 24px;
    font-size: 10px;
  }

  #mobile_menu .logo {
    margin: 22px auto 124px;
    /*background: url("../images/logo_768.png") center center no-repeat;*/
    width: 85px;
    height: 42px;
    background-size: 85px;

    /*background: url(../images/logo_768.png) center center no-repeat;*/
    /*width: 121px;*/
    /*height: 59px;*/
    /*margin: 12px auto 40px;*/
  }


footer .wrap {
  padding: 25px 0 0;
}
 

}
  
footer{
  .wrap {
    a{
      &:hover{
        color: #00aeef;
      }
    }
  }
}




