.overlay {
  display: none;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(28, 30, 37, 0.95);
  z-index: 79999;
}

// #confidentiality .decor,
//  #newsletter .decor,
//  #denial .decor {
//    width: 430px;
//  }
//  #confidentiality .text,
//  #newsletter .text,
//  #denial .text {
//    width: 360px;
//    padding: 30px 50px 30px 20px;
//  }
#confidentiality .decor,
#newsletter .decor,
#denial .decor {
  margin: 0 auto;
  width: 894px;
  position: relative;
}

#confidentiality .text,
#newsletter .text,
#denial .text {
  width: 894px;
}

#mobile_menu .link,
#popup_calc .link,
#popup_application .link,
#popup_value .link,
#download .link,
#call .link,
#our_services .link,
#confidentiality .link,
#newsletter .link,
#denial .link,
#subscribe .link {
  width: 100%;
  display: table;
  min-height: 80%;
  text-align: center;
}

#mobile_menu .link .item,
#popup_calc .link .item,
#popup_application .item,
#popup_value .item,
#download .item,
#call .item,
#our_services .item,
#confidentiality .item,
#newsletter .item,
#denial .item,
#subscribe .item {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

#popup_calc,
#popup_application,
#popup_value,
#download,
#call,
#our_services,
#confidentiality,
#newsletter,
#denial,
#subscribe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
}

#popup_calc .calculation,
#popup_application .calculation,
#popup_value .calculation,
#download .calculation,
#call .calculation,
#our_services .calculation,
#subscribe .calculation {
  margin: 0 auto;
  width: 253px;
}

#popup_calc .title,
#popup_application .title,
#popup_value .title,
#download .title,
#call .title,
#our_services .title,
#subscribe .title {
  margin-bottom: 20px;
  font-family: "GothamProBold", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

#popup_calc .description,
#popup_application .description,
#popup_value .description,
#download .description,
#call .description,
#our_services .description,
#subscribe .description {
  margin-bottom: 24px;
  font-family: "GothamProRegular", sans-serif;
  font-size: 11.5px;
  line-height: 20px;
  text-align: center;
  color: #7e7b87;
}

#popup_calc input[type="text"],
#popup_calc input[type="email"],
#popup_calc input[type="tel"],
#popup_application input[type="text"],
#popup_application input[type="email"],
#popup_application input[type="tel"],
#popup_value input[type="text"],
#popup_value input[type="tel"],
#download input[type="text"],
#download input[type="email"],
#call input[type="text"],
#call input[type="tel"],
#our_services input[type="text"],
#our_services input[type="email"],
#our_services input[type="tel"],
#subscribe input[type="text"],
#subscribe input[type="email"] {
  width: 255px;
  opacity: 0.8;
  outline: none;
  color: #fff;
  /*color: #96929e;*/
  font-size: 16px;
  border-radius: 2px;
  margin-bottom: 19px;
  letter-spacing: -0.8px;
  background-color: #302c39;
  border: 1px solid #7c7883;
  padding: 14px 14px 14px 36px;
  font-family: "GothamProRegular", sans-serif;
}

#popup_calc input[type="text"],
#popup_application input[type="text"],
#popup_value input[type="text"],
#download input[type="text"],
#call input[type="text"],
#our_services input[type="text"],
#subscribe input[type="text"] {
  /*background-image: url("../img/profile.png");*/
  background-position: 13px center;
  background-repeat: no-repeat;
  background-image: url("../img/name.png");
  background-size: 14px;
}

#popup_calc input[type="email"],
#download input[type="email"],
#our_services input[type="email"],
#subscribe input[type="email"] {
  /*background-image: url("../img/mail.png");*/
  background-image: url("../img/e-mail.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 15px;
}


/*Phone mask*/

.selected-flag {
  outline: none;
}

#popup_calc .intl-tel-input,
#popup_application .intl-tel-input,
#popup_value .intl-tel-input,
#call .intl-tel-input,
#our_services .intl-tel-input {
  margin-bottom: 0px;
  width: 255px;
}

#popup_calc .intl-tel-input.allow-dropdown input[type=tel],
#popup_application .intl-tel-input.allow-dropdown input[type=tel],
#popup_value .intl-tel-input.allow-dropdown input[type=tel],
#call .intl-tel-input.allow-dropdown input[type=tel],
#our_services .intl-tel-input.allow-dropdown input[type=tel] {
  width: 255px;
  padding: 14px 14px 14px 50px;
}

#popup_calc .intl-tel-input .country-list,
#popup_application .intl-tel-input .country-list,
#popup_value .intl-tel-input .country-list,
#call .intl-tel-input .country-list,
#our_services .intl-tel-input .country-list {
  font-family: 'GothamProLight', sans-serif;
  font-size: 12px;
  color: #424242;
}


/*#popup_calc input[type="tel"],
#popup_application input[type="tel"],
#call input[type="tel"],
#our_services input[type="tel"] {
  !*background-image: url("../images/phone.png");*!
  background-image: url("../images/tel-na formah.png");
  background-position: 12px center;
  background-repeat: no-repeat;
  background-size: 10px;
}*/

#popup_calc .text-wrap,
#popup_calc .email-wrap,
#popup_calc .phone-wrap,
#popup_application .text-wrap,
#popup_value .text-wrap,
#popup_application .phone-wrap {
  position: relative;
}

#popup_calc input[type="text"]:before,
#popup_application .text-wrap:before,
#popup_value .text-wrap:before {
  position: absolute;
  top: 16px;
  left: 15px;
  display: block;
  height: 13px;
  width: 14px;
  content: '';
  background: url("../images/profile.png") no-repeat;
  z-index: 10;
}

#popup_calc .email-wrap:before {
  position: absolute;
  top: 17px;
  left: 15px;
  display: block;
  height: 12px;
  width: 15px;
  content: '';
  background: url("../images/mail.png") no-repeat;
  z-index: 10;
}

#popup_calc .phone-wrap:before,
#popup_application .phone-wrap:before,
#popup_value .phone-wrap:before {
  position: absolute;
  top: 14px;
  left: 17px;
  display: block;
  height: 18px;
  width: 15px;
  content: '';
  background: url("../images/phone.png") no-repeat;
  z-index: 10;
}

#popup_calc input[type="submit"],
#popup_application input[type="submit"],
#popup_value input[type="submit"],
#download input[type="submit"],
#call input[type="submit"],
#our_services input[type="submit"],
#subscribe input[type="submit"] {
  margin: 40px auto 40px;
  display: block;
  width: 176px;
  border: 1px solid #fa2247;
  border-radius: 23px;
  padding: 14px 33px;
  font-family: 'GothamProRegular', sans-serif;
  font-size: 13px;
  line-height: 11px;
  text-align: center;
  text-decoration: none;
  color: #fa2247;
  background: transparent;
  outline: none;
  transition: all .3s ease;
}

#popup_calc input[type="submit"]:hover,
#popup_application input[type="submit"]:hover,
#popup_value input[type="submit"]:hover,
#download input[type="submit"]:hover,
#call input[type="submit"]:hover,
#our_services input[type="submit"]:hover,
#subscribe input[type="submit"]:hover {
  background: #fa2247;
  color: #fff;
  transform: scale(1.03);
}

#popup_calc .popup-close,
#popup_application .popup-close,
#popup_value .popup-close,
#download .popup-close,
#call .popup-close,
#our_services .popup-close,
#subscribe .popup-close {
  color: #96929e;
  text-decoration: underline;
  font-family: 'GothamProRegular', sans-serif;
  font-size: 13px;
  line-height: 11px;
  cursor: pointer;
}

#popup_calc .link,
#popup_application .link,
#popup_value .link,
#download .link,
#call .link,
#our_services .link,
#confidentiality .link,
#newsletter .link,
#denial .link,
#subscribe .link {
  min-height: 100%;
  height: 100%;
}

#confidentiality .text,
#newsletter .text,
#denial .text {
  position: relative;
  margin: 40px auto 40px;
  width: 824px;
  padding: 50px 58px 46px 42px;
  background: #fff;
  // box-sizing: content-box;
}

#confidentiality .text .title,
#newsletter .text .title,
#denial .text .title {
  padding: 0;
  font-family: 'GothamProBold', sans-serif;
  font-size: 20px;
  line-height: 35px;
  color: #000;
  text-align: left;
}

#confidentiality .text .underline-f,
#newsletter .text .underline-f,
#denial .text .underline-f {
  position: relative;
}

#confidentiality .text .underline-f:after,
#newsletter .text .underline-f:after,
#denial .text .underline-f:after {
  position: absolute;
  top: 25px;
  left: 0;
  display: block;
  content: '';
  width: 44px;
  height: 1px;
  background: #00aeef;
}

#confidentiality .text p,
#newsletter .text p,
#denial .text p {
  margin: 22px 0;
  font-family: 'GothamProRegular', sans-serif;
  font-size: 16px;
  line-height: 27px;
  text-align: left;
  color: #000;
}

#confidentiality .text a,
#newsletter .text a,
#denial .text a {
  text-decoration: none;
  color: #00baff;
}


/*#confidentiality .popup-close,
#newsletter .popup-close,
#denial .popup-close {
  position: absolute;
  top: -18px;
  right: 17px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: url("../images/button_close.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  transition: all .3s ease;
}*/

#confidentiality .popup-close,
#newsletter .popup-close,
#denial .popup-close {
  position: absolute;
  top: -18px;
  right: 17px;
  width: 37px;
  height: 37px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fa2247;
  color: #fff;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  z-index: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#confidentiality .popup-close span,
#newsletter .popup-close span,
#denial .popup-close span {
  display: block;
  position: absolute;
  height: 2px;
  width: 48%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 9px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#confidentiality .popup-close span:nth-child(1),
#newsletter .popup-close span:nth-child(1),
#denial .popup-close span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#confidentiality .popup-close span:nth-child(2),
#newsletter .popup-close span:nth-child(2),
#denial .popup-close span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#confidentiality .popup-close span:nth-child(3),
#newsletter .popup-close span:nth-child(3),
#denial .popup-close span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


/*#confidentiality .popup-close,
#newsletter .popup-close,
#denial .popup-close {
  position: absolute;
  top: -18px;
  right: 17px;
  width: 37px;
  height: 37px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fa2247;
  color: #fff;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  transition: all .3s ease;
}*/

#confidentiality .popup-close:hover,
#newsletter .popup-close:hover,
#denial .popup-close:hover {
  transform: rotate(180deg);
}

#newsletter .text ol {
  padding: 0;
  list-style: none;
  text-align: left;
  counter-reset: myCounter;
}

#newsletter .text li {
  position: relative;
  margin: 22px 0;
  font-family: 'GothamProRegular', sans-serif;
  font-size: 16px;
  line-height: 27px;
  text-align: left;
  color: #000;
}

#newsletter .text li:before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: #fff;
  background: #00ccff;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  line-height: 23px;
  width: 20px;
  height: 20px;
}

#newsletter .text li:after {
  position: absolute;
  top: 0;
  left: 15px;
  display: block;
  content: '.';
  color: #fff;
}

#newsletter .text strong {
  font-family: "GothamProBold", sans-serif;
}

@mixin media_480_popup {
  /*Footer*/
  footer {
    padding: 55px 0 50px;
  }
  footer .title {
    margin-bottom: 27px;
    font-size: 27px;
    line-height: 32px;
  }
  footer .subtitle {
    margin-bottom: 60px;
    font-size: 21px;
  }
  footer .subtitle:after {
    // left: 230px;
    bottom: -29px;
  }
  footer .call {
    margin-bottom: 47px;
    width: 350px;
    border-radius: 35px;
    padding: 22px 85px;
    font-size: 20px;
    line-height: 20px;
  }
  footer .wrap {
    width: 454px;
    border-top: 1px solid #413e3e;
    padding: 43px 0 0;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }
  footer .wrap div:first-child {
    margin-bottom: 47px;
    padding: 0 20px;
    text-align: center;
  }
  footer .wrap div:first-child span {
    display: block;
  }
  footer .wrap a {
    display: inline-block;
    margin: 0 0 25px;
    font-size: 22px;
  }
  /*Footer popups*/
  #confidentiality .decor,
  #newsletter .decor,
  #denial .decor {
    width: 430px;
  }
  #confidentiality .text,
  #newsletter .text,
  #denial .text {
    width: 430px;
    padding: 30px 50px 30px 20px;
    // box-sizing: content-box;
  }
  #confidentiality .popup-close,
  #newsletter .popup-close,
  #denial .popup-close {
    top: -18px;
    right: -18px;
  }
  /*Mobile menu*/
  #mobile_menu .logo {
    margin: 36px auto 110px;
    width: 114px;
    height: 58px;
    background-size: contain;
    /*background: url(../images/slivki.png) center center no-repeat;*/
    /*width: 121px;*/
    /*height: 59px;*/
    /*margin: 12px auto 110px;*/
  }
  #mobile_menu .item a {
    font-size: 33px;
    line-height: 64px;
  }
  #mobile_menu .popup-close {
    top: 26px;
    left: 32px;
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  #mobile_menu .popup-close span:nth-child(1) {
    top: 19px;
  }
  #mobile_menu .popup-close span:nth-child(3) {
    top: 19px;
  }
  #popup_calc .title,
  #popup_application .title,
  #popup_value .title,
  #download .title,
  #call .title,
  #our_services .title,
  #subscribe .title {
    margin-bottom: 30px;
    font-size: 23px;
  }
  #popup_calc .description,
  #popup_application .description,
  #popup_value .description,
  #download .description,
  #call .description,
  #our_services .description,
  #subscribe .description {
    margin-bottom: 36px;
    font-size: 20px;
    line-height: 33px;
  }
  #popup_calc .calculation,
  #popup_application .calculation,
  #popup_value .calculation,
  #download .calculation,
  #call .calculation,
  #our_services .calculation,
  #subscribe .calculation {
    width: 404px;
    text-align: left;
  }
  #popup_calc input[type="text"],
  #popup_calc input[type="email"],
  #popup_calc input[type="tel"],
  #popup_application input[type="text"],
  #popup_application input[type="email"],
  #popup_application input[type="tel"],
  #popup_value input[type="text"],
  #popup_value input[type="tel"],
  #download input[type="text"],
  #download input[type="email"],
  #call input[type="text"],
  #our_services input[type="text"],
  #our_services input[type="email"],
  #our_services input[type="tel"],
  #subscribe input[type="text"],
  #subscribe input[type="email"],
  #call input[type="email"],
  #call input[type="tel"] {
    width: 404px;
    padding: 19px 14px 19px 60px;
    /*padding-left: 60px;*/
    font-size: 20px;
  }
  #popup_calc input[type="text"],
  #popup_application input[type="text"],
  #popup_value input[type="text"],
  #download input[type="text"],
  #call input[type="text"],
  #our_services input[type="text"],
  #subscribe input[type="text"] {
    margin-bottom: 30px;
    background-position: 20px center;
    background-size: 22px;
  }
  #popup_calc input[type="email"],
  #download input[type="email"],
  #our_services input[type="email"],
  #subscribe input[type="email"],
  #call input[type="email"] {
    margin-bottom: 30px;
    background-position: 16px center;
    background-size: 28px;
  }
  #download input[type="email"],
  #subscribe input[type="email"] {
    margin-bottom: 22px;
  }
  #popup_calc .intl-tel-input.allow-dropdown input[type=tel],
  #popup_application .intl-tel-input.allow-dropdown input[type=tel],
  #popup_value .intl-tel-input.allow-dropdown input[type=tel],
  #call .intl-tel-input.allow-dropdown input[type=tel],
  #our_services .intl-tel-input.allow-dropdown input[type=tel] {
    width: 404px;
    padding: 19px 14px 19px 50px;
    /*padding: 14px 14px 14px 50px;*/
  }
  /*  #popup_calc input[type="tel"],
  #popup_application input[type="tel"],
  #call input[type="tel"],
  #our_services input[type="tel"] {
    background-position: 22px center;
    background-size: 17px;
  }*/
  #popup_calc input[type="text"]::-webkit-input-placeholder,
  #popup_calc input[type="email"]::-webkit-input-placeholder,
  #popup_calc input[type="tel"]::-webkit-input-placeholder,
  #popup_application input[type="text"]::-webkit-input-placeholder,
  #popup_application input[type="email"]::-webkit-input-placeholder,
  #popup_application input[type="tel"]::-webkit-input-placeholder,
  #popup_value input[type="text"]::-webkit-input-placeholder,
  #popup_value input[type="tel"]::-webkit-input-placeholder,
  #download .placeholder::-webkit-input-placeholder,
  #call .placeholder::-webkit-input-placeholder,
  #our_services .placeholder::-webkit-input-placeholder,
  #subscribe .placeholder::-webkit-input-placeholder {
    color: #96929e;
  }
  #popup_calc input[type="text"]::-moz-placeholder,
  #popup_calc input[type="email"]::-moz-placeholder,
  #popup_calc input[type="tel"]::-moz-placeholder,
  #popup_application input[type="text"]::-moz-placeholder,
  #popup_application input[type="email"]::-moz-placeholder,
  #popup_application input[type="tel"]::-moz-placeholder,
  #popup_value input[type="text"]::-moz-placeholder,
  #popup_value input[type="tel"]::-moz-placeholder,
  #download .placeholder::-moz-placeholder,
  #call .placeholder::-moz-placeholder,
  #our_services .placeholder::-moz-placeholder,
  #subscribe .placeholder::-moz-placeholder {
    color: #96929e;
  }
  #popup_calc input[type="text"]:-ms-input-placeholder,
  #popup_calc input[type="email"]:-ms-input-placeholder,
  #popup_calc input[type="tel"]:-ms-input-placeholder,
  #popup_application input[type="text"]:-ms-input-placeholder,
  #popup_application input[type="email"]:-ms-input-placeholder,
  #popup_application input[type="tel"]:-ms-input-placeholder,
  #popup_value input[type="text"]:-ms-input-placeholder,
  #popup_value input[type="tel"]:-ms-input-placeholder,
  #download .placeholder:-ms-input-placeholder,
  #call .placeholder:-ms-input-placeholder,
  #our_services .placeholder:-ms-input-placeholder,
  #subscribe .placeholder:-ms-input-placeholder {
    color: #96929e;
  }
  #popup_calc input[type="submit"],
  #popup_application input[type="submit"],
  #popup_value input[type="submit"],
  #download input[type="submit"],
  #our_services input[type="submit"],
  #subscribe input[type="submit"],
  #call input[type="submit"] {
    // margin: 0 auto 62px;
    width: 346px;
    border-radius: 30px;
    padding: 24px 33px;
    font-size: 20px;
  }
  #popup_calc input[type="tel"] {
    margin-bottom: 22px;
  }
  #popup_calc .intl-tel-input,
  #popup_application .intl-tel-input,
  #popup_value .intl-tel-input,
  #call .intl-tel-input,
  #our_services .intl-tel-input {
    margin-bottom: 0px;
  }
  #popup_calc .popup-close,
  #popup_application .popup-close,
  #popup_value .popup-close,
  #download .popup-close,
  #our_services .popup-close,
  #subscribe .popup-close,
  #call .popup-close {
    font-size: 18px;
  }
  #call .link {
    width: 460px;
    margin: 0 auto;
    padding: 20px 0;
  }
}

@mixin media_768_popup {
  .overlay {
    // min-width: 768px;
    // padding: 0 36px;
  }
  #confidentiality .text,
  #newsletter .text,
  #denial .text {
    width: 680px;
  }
  #confidentiality .decor,
  #newsletter .decor,
  #denial .decor {
    width: 680px;
  }
  #confidentiality .popup-close,
  #newsletter .popup-close,
  #denial .popup-close {
    top: -18px;
    right: -17px;
  }
}
