.case1-footer {
  height: 325px;
  background-color: #313131;
  text-align: center;
  color: #868484;
  @extend .lig;
  h2 {
    @extend .med;
    @extend .px24;
    line-height: 24px;
    font-weight: 400;
    margin: 52px auto 13px;
    letter-spacing: -0.6px;
    color: #ffffff;
  }
  .c1-f-sub {
    margin-bottom: 15px;
    @extend .px16;
    &:after {
      @extend .sprite;
      background-position: -731px -253px;
      width: 10px;
      height: 6px;
      margin-top: 15px;
    }
  }
  .c1-f-btn {
    @extend .btn;
    margin: 0 auto 37px;
    width: 160px;
    color: #00aeef;
    border: 1px solid #00aeef;
    &:hover {
      background-color: #00aeef;
      color: #ffffff;
    }
  }
  .c1-f-copy {
    @extend .px10;
    line-height: 14px;
    margin-bottom: 5px;
    &:before {
      display: block;
      content: '';
      height: 1px;
      width: 662px;
      margin: 0 auto 20px;
      background-color: #413e3e;
    }
  }
  li {
    display: inline-block;
    line-height: 14px;
    .c1-f-link {
      color: #868484;
      margin: 0px 28px;
      @extend .px10;
      letter-spacing: -.4px;
      &:hover {
        color: #00aeef;
      }
    }
  }
}

@mixin media_768_case_2_footer-2 {
  .case1-footer {
    h2 {
      margin: 52px auto 10px;
      letter-spacing: -1.1px;
    }
    .c1-f-sub {
      letter-spacing: -.8px;
    }
    .c1-f-btn {
      margin: 0 auto 34px;
      @extend .btn-768;
    }
  }
}

@mixin media_480_case_2_footer-2 {
  .case1-footer {
    height: 690px;
    h2 {
      font-size: 1.947rem;
      line-height: 36px;
      margin: 48px auto 10px;
      letter-spacing: -1.3px;
    }
    .c1-f-sub {
      font-size: 1.514rem;
      line-height: 36.34px;
      letter-spacing: -1px;
      margin-bottom: 33px;
    }
    .c1-f-btn {
      @extend .btn-480;
      margin: 0 auto 47px;
    }
    .c1-f-copy {
      font-size: 1.286rem;
      line-height: 24px;
      &:before {
        margin: 0 auto 39px;
      }
    }
    li {
      display: block;
      .c1-f-link {
        font-size: 1.571rem;
        line-height: 48px;
      }
    }
  }
}
