.case1-s7 {
  height: 768px;
  background-color: #f3f0f0;
  overflow: hidden;
  h2 {
    text-align: center;
    margin: 0 auto 82px;
    padding-top: 92px;
  }
  .container {
    overflow: visible;
  }
  .case1-s7-l {
    width: 50%;
    &:after {
      display: block;
      content: '';
      position: absolute;
      right: 120px;
      top: 280px;
      background: url(../img/phone_big.jpg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 332px;
      width: 332px;
      height: 269px;
    }
  }
  .case1-s7-l {
    padding: 0 71px 0 188px;
    h3 {
      @extend .med;
      line-height: 24px;
      font-size: 1.286rem;
      font-weight: 400;
      letter-spacing: -.9px;
      margin-bottom: 20px;
    }
    p {
      @extend .lig;
      font-size: 0.857rem;
      line-height: 18px;
      font-weight: 400;
      color: #5b636e;
      letter-spacing: -.3px;
      margin-bottom: 30px;
    }
    .case1-s7-ico {
      position: relative;
      &:after {
        position: absolute;
        top: 50%;
        @extend .sprite;
      }
    }
    .case1-s7-ico-name:after {
      left: 13px;
      margin-top: -6px;
      background-position: -668px -428px;
      width: 14px;
      height: 14px;
    }
    .case1-s7-inp {
      width: 253px;
      height: 39px;
      border-radius: 5px;
      border: 1px solid #e0e4ec;
      margin-bottom: 18px;
      padding-left: 40px;
      @extend .lig;
      color: #424242;
    }
    .case1-s7-sbmt {
      @extend .btn;
      margin: 31px auto 0;
      width: 190px;
      color: #fa2247;
      border: 1px solid #fa2247;
      &:hover {
        background-color: #fa2247;
        color: #ffffff;
      }
    }
  }
  ::-webkit-input-placeholder {
    color: #a9a6b0;
    font-size: .857rem;
    letter-spacing: 1px;
  }
  ::-moz-placeholder {
    color: #a9a6b0;
    font-size: .857rem;
    letter-spacing: 1px;
  }
  :-moz-placeholder {
    color: #a9a6b0;
    font-size: .857rem;
    letter-spacing: 1px;
  }
  :-ms-input-placeholder {
    color: #a9a6b0;
    font-size: .857rem;
    letter-spacing: 1px;
  }
}

@mixin media_768_case_2_s7 {
  .case1-s7 {
    height: 607px;
    h2 {
      margin: 0 auto 83px;
      padding-top: 60px;
    }
    .container {
      overflow: visible;
    }
    .case1-s7-l {
      &:after {
        right: 10px;
        top: 212px;
      }
    }
    .case1-s7-l {
      padding: 0 71px 0 44px;
      h3 {
        line-height: 23px;
        font-size: 1.286rem;
        margin-bottom: 26px;
      }
      p {
        margin-bottom: 23px;
      }
      .case1-s7-sbmt {
        @extend .btn-768;
      }
    }
  }
}

@mixin media_480_case_2_s7 {
  .case1-s7 {
    height: 1086px;
    h2 {
      margin: 0 auto 38px;
      padding-top: 49px;
    }
    .case1-s7-l {
      &:after {
        width: 332px;
        height: 315px;
        right: 59px;
        top: 166px;
        transform: scale(1);
        background-repeat: no-repeat;
        background-repeat: no-repeat;
      }
    }
    .case1-s7-l {
      padding: 319px 10px 0 10px;
      width: 100%;
      h3 {
        line-height: 33.39px;
        font-size: 2rem;
        letter-spacing: -1.3px;
        margin-bottom: 22px;
      }
      p {
        letter-spacing: -.6px;
        font-size: 1.637rem;
        line-height: 31.31px;
      }
            .case1-s7-ico {
      &:after {
        @extend .sprite-480;
        transform: scale(.85);
      }
    }
    .case1-s7-ico-name:after {
      left: 19px;
      margin-top: -14.5px;
      background-position: -1336px -854px;
  width: 30px;
  height: 29px;
    }
      .case1-s7-inp {
        width: 412px;
        height: 62px;
        margin-bottom: 29px;
        padding-left: 67px!important;
        font-size: 1.379rem;
      }
      .case1-s7-sbmt {
        @extend .btn-480;
        margin: 43px auto 0;
      }
    }
    ::-webkit-input-placeholder {
      color: #a9a6b0;
      font-size: 1.379rem;
      letter-spacing: 1px;
    }
    ::-moz-placeholder {
      color: #a9a6b0;
      font-size: 1.379rem;
      letter-spacing: 1px;
    }
    :-moz-placeholder {
      color: #a9a6b0;
      font-size: 1.379rem;
      letter-spacing: 1px;
    }
    :-ms-input-placeholder {
      color: #a9a6b0;
      font-size: 1.379rem;
      letter-spacing: 1px;
    }
  }
}
