.case1-s9 {
  min-height: 579px;
  height: 100%;
      padding-bottom: 45px;
  h2 {
    text-align: center;
    margin: 67px auto 64px;
  }
  .container {
        width: 740px;
    overflow: visible;
  }
  .c1-s9-l-item {
    margin-bottom: 42px;
    .c1-s9-head {
      position: relative;
      @extend .med;
      @extend .px16;
      font-weight: 400;
      margin-bottom: 19px;
      cursor: pointer;
      letter-spacing: -0.9px;
      &:before {
        @extend .sprite;
        position: absolute;
        left: -26px;
        top: 50%;
        margin-top: -6.5px;
        background-position: -689px -427px;
        width: 14px;
        height: 15px;
      }
    }
    .c1-s9-head-active {
      &:before {
        background-position: -710px -427px;
      }
    }
    p {
      @extend .lig;
      line-height: 18px;
      letter-spacing: -0.4px;
      color: #5b636e;
    }
    ul {
      margin: 10px 0 0 15px;
    }
    li {
      list-style-type: disc;
      @extend .lig;
      line-height: 20px;
      letter-spacing: -0.4px;
      color: #5b636e;
    }
  }
  .c1-s9-item-hide {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all .15s linear;
  }
  .c1-s9-item-active {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: all .15s linear;
  }
}

@mixin media_768_case_2_s9 {
  .case1-s9 {
        min-height: 600px;
    h2 {
      margin: 42px auto 39px;
    }
    .container {
      width: 768px;
    }
    .c1-s9-list {
      padding-left: 61px;
    }
    .c2-br1-768-h {
      display: none;
    }
  }
}

@mixin media_480_case_2_s9 {
  .case1-s9 {
    min-height: 813px;
    h2 {
      margin: 50px auto 45px;
    }
    .container {
      width: 480px;
    }
    .c1-s9-list {
      padding-left: 36px;
    }
    .c1-s9-l-item {
      margin-bottom: 43px;
      .c1-s9-head {
        font-size: 1.857rem;
        padding-left: 32px;
        letter-spacing: -1.4px;
        line-height: 30px;
        margin-bottom: 29px;
        &:before {
          @extend .sprite-480;
          left: -10px;
          top: 0;
          margin-top: 0;
          background-position: -1378px -854px;
          width: 28px;
          height: 28px;
        }
      }
      .c1-s9-head-active {
        &:before {
          background-position: -1418.5px -854px;
        }
      }
      p {
        letter-spacing: -0.2px;
        font-size: 1.429rem;
        line-height: 26px;
      }
      ul {
        margin: 10px 0 0 0;
        padding-left: 20px;
      }
      li {
        letter-spacing: -0.9px;
        font-size: 1.429rem;
        line-height:26px;
      }
    }
  }
}
