.header-section-oto {
  @extend .header-section-thanks;
  height: 311px;
  .header-logo-section-oto {
    @extend .header-logo-section;
    margin: 0 auto 37px;
    .header-section-thanks-img-oto {
      @extend .header-section-thanks-img;
    }
    img {
      display: block;
      width: 70px;
      height: 34px;
      margin: 0 auto;
      background-color: #f0f0f0;
    }
  }
  .container {
    text-align: center;
    .header-section-oto-h1 {
      @extend .header-section-thanks-h1;
      margin-bottom: 14px;
    }
    .header-section-oto-sub {
      @extend .header-section-thanks-sub;
      margin-bottom: 31px;
    }
    .oto-look-dwn {
      @extend .lig;
      @extend .px14;
      color: #252525;
      font-weight: 400;
      &:after {
        display: block;
        content: '';
        width: 11px;
        height: 6px;
        margin: 22px auto 0;
        background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAQAAAC/O6xzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfhBQgUKDR7XpSrAAAAYElEQVQI102JMQoCMQAEJ/7qCvULBiWv2VR5yxUiHhhIaSv4ICHdWlwObqea2aAvvZzZLX/4HZg55ecuVibuGCVZ1RijJiuaYCDfePAm0jhyKS/WPA6Aa1kA8EBJXXGzP3ZWKlNzWPo5AAAAAElFTkSuQmCC) no-repeat 50% 50%;
        background-size: 11px 6px;
      }
    }
  }
}

@mixin media_480_oto_header {
  .header-section-oto {
    height: 593px;
    .header-logo-section-oto {
      margin: 0 auto 64px;
    }
    .container {
      .header-section-oto-h1 {
        margin-bottom: 38px;
      }
      .header-section-oto-sub {
        margin-bottom: 74px;
      }
      .oto-look-dwn {
        font-size: 1.286rem;
        &:after {
          width: 25px;
          height: 14px;
          margin: 19px auto 0;
          background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAOCAQAAABwM3/LAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhBQkLNROO/s70AAABBElEQVQoz32RwUpCQRSGP0d3PVLQRkhBzAoRvF6IVpk+QrppeoVEBBUE78WFYaW4Kp9AWrhwr4uWvUCCC8+d7rXRf/XPOf8/Z/45sdoDT2w45xMrtGH1DGOgongE4nyQ4yjqRcYAVBWu1EZkjxgKeEJrCp+qHN64OjhhIPRGjxTQ4E4KL+SthmCCq3sQPwOY8y3PKrBgGTbMnJChD6Dk2MIRNoxkuqYv7FILU6bpc28ypYVdMDQZXgOhCt3YpCxsShLIEMgc3fuT7bIEmLOW/bic8CzVkvbDoqgFvliRA2KcGoMXlSj20TVfDnC7b4CEZXMtfmnvJuD9b9ss0OGHFO9MbM0tHig9poph4XkAAAAASUVORK5CYII=) no-repeat 50% 50%;
          background-size: 25px 14px;
        }
      }
    }
  }
}
